<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>To scan your body and get measurements</string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueRegular.otf</string>
		<string>HelveticaNeueMedium.otf</string>
		<string>HelveticaNeueRegular.otf</string>
	</array>
</dict>
</plist>
