<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ngrok_key</key>
	<string>test</string>
    <key>OPENAI_API_KEY</key>
    <string>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</string>
</dict>
</plist>
